.app-container {
  display: flex; /* Používá flexbox pro rozložení */
  height: 100vh; /* Výška celé obrazovky */
}

.main-content {
  margin-left: 220px;
  margin-top: 80px;
  flex-grow: 1;
  padding: 30px;
  height: calc(80vh - 80px);
}
